<a href="https://colab.research.google.com/github/Divya1916/data-science/blob/main/exp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s=1
print(type(s))
a="hello"
print(type(a))
b=[1,2]
print(type(b))
c={1:'apple',2:'orange'}
print(type(c))
d=True
print(type(d))
e=1.2
print(type(e))
f={"a","b"}
print(type(f))
g=()
print(type(g))
h=bytes()
print(type(h))
i=bytearray()
print(type(i))
j=range(4)
print(type(j))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

TUPLE

In [1]:
#tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

containers

In [ ]:
#list
k=['d','i','v','y','a']
print(k[0])
print(k[1])
print(k[2])
print(k[3])
print(k[0:2])
print(k[ : ])
print(k[-2])

d
i
v
y
['d', 'i']
['d', 'i', 'v', 'y', 'a']
y

In [ ]:
#dictionary
d={1:'divya',2:'reni',3:''}
print(d)
print("1st name is"+d[1])
print("2nd name is"+d[2])
print(d.keys())
print(d.values())

{1: 'divya', 2: 'reni', 3: ''}
1st name isdivya
2nd name isreni
dict_keys([1, 2, 3])
dict_values(['divya', 'reni', ''])

#sets

In [ ]:
k={1,2,3}
print(k)
m={1.0,"hello",(1,2,3)}
print(m)
n=set([1,2,3,])
print(n)
o=set(["hellooworld"])
print(o)

{1, 2, 3}
{1.0, (1, 2, 3), 'hello'}
{1, 2, 3}
{'hellooworld'}

In [ ]:
#function and return statement
def add(a,b):
  return a+b
res=add(2,3)
print("result",res)

result 5