<a href="https://colab.research.google.com/github/Divya1916/data-science/blob/main/exp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [3]:
movies_df=pd.read_csv("IMDb movies.csv")
#print the first few rows with headers
print(movies_df.head(3))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0

[3 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
#discriptive statistics
print(movies_df.describe())

           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

In [6]:
#check null data
print("null values:\n")
print(movies_df.isna())#same as movies_df.isnull().sum()
print(movies_df.isna().sum())
print("null values %s"%movies_df.isnull().values.any())
print("total null values %d"%movies_df.isna().sum().sum())
print(movies_df.describe())

null values:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
85850          False  False  ...                True                 False
85851          False  False  ...               False                 False
85852          False  False  ...                True                  True
85853          False  False  ...                True                  True
85854          False  False  ...                True                 False

[85855 rows x 22 columns]
imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64
null values True
total null values 288652
           duration      avg_vote  ...  reviews_from_users  reviews_from_critics
count  85855.000000  85855.000000  ...        78258.000000          74058.000000
mean     100.351418      5.898656  ...           46.040826             27.479989
std       22.553848      1.234987  ...          178.511411             58.339158
min       41.000000      1.000000  ...            1.000000              1.000000
25%       88.000000      5.200000  ...            4.000000              3.000000
50%       96.000000      6.100000  ...            9.000000              8.000000
75%      108.000000      6.800000  ...           27.000000             23.000000
max      808.000000      9.900000  ...        10472.000000            999.000000

[8 rows x 6 columns]

In [8]:
print("null values: \n"), 
print(movies_df.isna())

null values:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
85850          False  False  ...                True                 False
85851          False  False  ...               False                 False
85852          False  False  ...                True                  True
85853          False  False  ...                True                  True
85854          False  False  ...                True                 False

[85855 rows x 22 columns]